{% extends 'base.html' %}
{% load static %}
{% block title %}Articles{% endblock title %}

{% block content %}


<div class="container">
  <!-- This row contains the search bar -->
  <div class="row py-3" >
    <div class="col-md-2 my-2 align-item-center" > <a href="{% url 'article:post_article'%}" class="btn btn-primary">Start Writing</a> <!-- Search Functionality -->                 
    </div>
    <div class="col-md-10"> 
         <!-- Another variation with a button -->
      <form >
        <div class="input-group">
          <input type="text" name="search_item" class="form-control" placeholder="Search this blog">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- this row contains the main content -->
  <div class="row">
    <div class= "col-md-8">
      <div class="row">
        {% for article in articles %}
        
        <div class="col-lg-6 p-2 border"> 
          <div class="row" >
            <div class="col-8 border-primary">
              <div class="row border-danger">    <!-- this is the user-->
                <div class="col-md-12"><a href="{% url 'account:view_single_blog' article.author.id %}" style="text-decoration:none"> <img src="{{article.author.profile.profile_picture.url}}" width="20" height="20" class="img-fluid" style="border-radius:50%"> <span class="col-md-3" style="font-size:0.6em; "> <i>{{article.author.profile.firstName}} {{article.author.profile.lastName}}</i></span></a>
                </div>
              </div>           <!-- this is the user-->
              
                <div class="row">  <!-- article title-->
                  <div class= "col-md-12"> <h6> <b><a href="{% url 'article:article_details' article.id %}" style="text-decoration:none; color:black;">{{article.title}}</a></h6> </b> 
                  </div>            
                </div>

                <div class="row" >
                  <div class= "col-md-12 discription"> <p> {{article.content | safe |truncatewords:12}}</div> 
                </div>
                <div class="row">
                      <div class="col-md-12"> <span class="col-md-3" style="font-size:0.6em; "> <b> {{article.category}} </b></span><span class="col-md-3 px-3 text-align-end" style="font-size:0.6em;text-align: end; ">{{ article.date}}</span>
                      </div>
                </div>
              
            </div>
           
              <div class="col-4  px-1">
                <div class="row">
                  <img src="{{article.thumbnail.url}}" class="img-fluid" width="120" height="120" object-fit: cover>
                </div>
              </div>
          
          </div>
        </div>
        {% endfor %}
      </div> 
    </div>
   
    <div class ="col-md-4 tags"> 
          {% for tag in tags %}
          <span><a href="tag/{{tag.tagname1}}"  style="text-decoration: none;">{{tag.tagname1}} </a> </span>
          {% endfor %}
        </div>
    
  </div>
</div>
{% endblock content %}